.card__title {
  min-height: 34px;
  font-family: 'Cyntho Next', Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  word-wrap: break-word;
}

@media (max-width: 767px) {
  .card__title {
    font-size: 10px;
    line-height: 12px;
    -webkit-line-clamp: 3;
  }
}
