.about__image {
  max-width: 605px;
}

@media (max-width: 1199px) {
  .about__image {
    max-width: 702px;
    margin-top: 60px;
  }
}

@media (max-width: 710px) {
  .about__image {
    max-width: 500px;
  }
}

@media (max-width: 500px) {
  .about__image {
    max-width: 400px;
  }
}

@media (max-width: 425px) {
  .about__image {
    max-width: 290px;
  }
}

@media (max-width: 375px) {
  .about__image {
    margin-top: 35px;
  }
}