.button__fill-color {
  background-color: #F4A17B;
  color: #fff;
  border: none;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 46px;
  padding-left: 46px;
}

@media (max-width: 600px) {
  .button__fill-color {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 14px;
    padding-left: 14px;
  }
}

@media (max-width: 767px) {
  .button__fill-color {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 24px;
    padding-left: 24px;
  }
}