@import url(./_fill-color/button_fill-color.css);
@import url(./_no-fill/button_no-fill.css);

.button {
  font-family: 'Cyntho Next', Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  transition: .2s linear;
}

.button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button:active {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.button:focus {
  outline: none;
}