.swiper__container_background-white {

}

.swiper__container_background-white:after {
  content: '';
  position: absolute;
  width: 32px;
  height: 454px;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff);
  z-index: 5;
}