.card__mark {
  font-family: 'Cyntho Next', Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  border-radius: 5px;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;
  padding-bottom: 5px;
  z-index: 5;
}

@media (max-width: 767px) {
  .card__mark {
    font-size: 8px;
    line-height: 10px;
  }
}