.card__department {
  font-family: 'Cyntho Next', Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #5F5F5F;
  text-align: left;
  margin-top: -6px;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .card__department {
    font-size: 7px;
    line-height: 8px;
    margin-top: 0;
    margin-bottom: 2px;
  }
}