.title__subtitle {
  width: 374px;
  font-family: 'Cyntho Next', Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 320px) {
  .title__subtitle {
    max-width: 266px;
  }
}