.root__wave {
  position: relative;
}

.root__wave::after {
  content: '';
  background-image: url('../../../images/wave.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  max-width: 1600px;
  height: 77px;
}