.button__no-fill {
  background-color: transparent;
  color: #383838;
  border: 2px solid #F4A17B;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 46px;
  padding-left: 46px;
  margin-left: 16px;
}

@media (max-width: 600px) {
  .button__no-fill {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 26px;
    padding-left: 26px;
  }
}

@media (max-width: 767px) {
  .button__no-fill {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 30px;
    padding-left: 30px;
  }
}