.header__mobile-menu-button {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  cursor: pointer;
  transition: .4s linear;
}

@media (max-width: 995px) {
  .header__mobile-menu-button {
    display: flex;
  }
}

/*@media (max-width: 600px) {*/
/*  .header__mobile-menu-button {*/
/*    margin-top: 12px;*/
/*    margin-bottom: 12px;*/
/*  }*/
/*}*/