@import url(./__contacts/footer__contacts.css);
@import url(./__contacts-block-left/footer__contacts-block-left.css);
@import url(./__contacts-block-right/footer__contacts-block-right.css);
@import url(./__contacts-link/footer__contacts-link.css);
@import url(./__contacts-text/footer__contacts-text.css);
@import url(./__logo/footer__logo.css);
@import url(./__menu/footer__menu.css);
@import url(./__menu-item/footer__menu-item.css);
@import url(./__menu-link/footer__menu-link.css);
@import url(./__social-icon/footer__social-icon.css);
@import url(./__social-icon-link/footer__social-icon-link.css);

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4A17B;
  padding-top: 42px;
  padding-bottom: 40px;
}

@media (max-width: 425px) {
  .footer {
    padding-top: 19px;
    padding-bottom: 20px;
  }
}