.header__menu-link_submenu {

}

.header__menu-link_submenu::after {
  content: url('../../../../images/arrow-down.svg');
  margin-left: 8px;
  transition: .2s linear;
}

/*.header__menu-link_submenu:hover::after {*/
/*  content: url('../../../../images/arrow-down-pink.svg');*/
/*  margin-left: 8px;*/
/*}*/

@media (max-width: 995px) {
  .header__menu-link_submenu {
    margin-left: 20px;
  }
}