@import url(./__button/card__button.css);
@import url(./__cost/card__cost.css);
@import url(./__department/card__department.css);
@import url(./__image/card__image.css);
@import url(./__image-block/card__image-block.css);
@import url(./__info-block/card__info-block.css);
@import url(./__mark/card__mark.css);
@import url(./__mark/_blue/card__mark_blue.css);
@import url(./__mark/_green/card__mark_green.css);
@import url(./__mark/_red/card__mark_red.css);
@import url(./__notice/card__notice.css);
@import url(./__order-block/card__order-block.css);
@import url(./__plus-minus/card__plus-minus.css);
@import url(./__price-block/card__price-block.css);
@import url(./__price-block/_margin-less/card__price-block_margin-less.css);
@import url(./__quantity/card__quantity.css);
@import url(./__quantity-block/card__quantity-block.css);
@import url(./__title/card__title.css);
@import url(./__weight/card__weight.css);

.card {
  max-width: 270px;
  height: 425px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(167, 167, 167, 0.26);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transition: .2s linear;
}

/* TODO уточнить у дизайнера сохраняется ли изначальный box-shadow при hover'е */
.card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 600px) {
  .card {
    max-width: 140px;
    height: 257px;
  }
}

@media (max-width: 335px) {
  .card {
    margin-left: 0;
    margin-right: 0;
  }
}