@import url(./__arrow-next/swiper__arrow-next.css);
@import url(./__arrow-prev/swiper__arrow-prev.css);
@import url(./__container/swiper__container.css);
@import url(./__container/_background-grey/swiper__container_background-grey.css);
@import url(./__container/_background-white/swiper__container_background-white.css);
@import url(./__nav/swiper__nav.css);
@import url(./__nav-item/swiper__nav-item.css);
@import url(./__nav-item/_is-active/swiper__nav-item_is-active.css);
@import url(./__wrapper/swiper__wrapper.css);

.swiper {
  max-width: 1200px;
  margin-top: 52px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}