.header__menu-item {
  font-family: 'Cyntho Next', Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000;
  display: inline-block;
  margin-left: 41px;
  margin-bottom: 6px;
  position: relative;
}

@media (max-width: 995px) {
  .header__mobile-menu-checkbox:checked ~ .header__menu .header__menu-item {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 18px;
    padding-bottom: 22px;
  }

  .header__mobile-menu-checkbox:checked ~ .header__menu .header__menu-item::after {
    content: '';
    position: absolute;
    width: 205px;
    height: 1px;
    background-color: #E3E3E3;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .header__mobile-menu-checkbox:checked ~ .header__menu .header__menu-item:last-child::after {
    content: none;
  }
}

@media (max-width: 480px) {
  .header__mobile-menu-checkbox:checked ~ .header__menu .header__menu-item {
    font-size: 12px;
    line-height: 14px;
    padding-top: 13px;
    padding-bottom: 15px;
  }

  .header__mobile-menu-checkbox:checked ~ .header__menu .header__menu-item::after {
    content: '';
    position: absolute;
    width: 184px;
    height: 1px;
    background-color: #E3E3E3;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}