.footer__contacts-text {
  font-family: 'Cyntho Next', Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 9px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 9px;
}