.swiper__nav-item {
  font-family: 'Cyntho Next', Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #9E9E9E;
  cursor: pointer;
  transition: .2s linear;
}

.swiper__nav-item:last-child {
  margin-right: 15px;
}

.swiper__nav-item:hover {
  color: #000;
}