.card__image-block {
  width: 270px;
  height: 270px;
  border-radius: 5px 5px 0 0;
  position: relative;
  overflow: hidden;
}

@media (max-width: 600px) {
  .card__image-block {
    width: 140px;
    height: 140px;
  }
}